<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shoulder-Charge.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08AEE2C12FA0C95F00920AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08AEE2DA2FA0C96200920AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08AEE2E42FA0C96200920AED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
